<div class="form-container">

  <div class="step-count">
    <span class="count">Step 2/6</span>
    <span class="draft-status"></span>
  </div>
  <div class="step-header">
    <h2 class="title">2. Decide Registration & Eligibility Details </h2>
  </div>

  <form id="registration-eligibility-form">
    <fieldset>
      <legend>
        Mode of Registration
        <span style="color: orangered;">*</span>
      </legend>
      <div class="tooltip">
        <span>
          <code>i</code>
          <p>Select the application registration option for your hiring process</p>
        </span>
      </div>
      <div class="tabbed input">
        <div class="wrap">
          <input type="radio" value="url" id="application-regmode-web" name="regMode" required checked /><label
            for="application-regmode-web">Website URL</label>
          <input type="radio" value="email" id="application-regmode-mail" name="regMode" required /><label
            for="application-regmode-mail">By Email</label>
        </div>
      </div>
    </fieldset>

    <fieldset id="reg-mode-action">
      <legend>
        Registration URL
        <span style="color: orangered;">*</span>
      </legend>
      <div class="tooltip">
        <span>
          <code>i</code>
          <p>Enter the valid registration link for your application</p>
        </span>
      </div>
      <div class="avalid input">
        <input tabindex="2" id="application-reg-action" type="url" name="regAction" required autocomplete="off" />
      </div>
    </fieldset>

    <div class="half-container">
      <fieldset>
        <legend>
          Registration Start Date & Time
          <span style="color: orangered;">*</span>
        </legend>
        <div class="tooltip">
          <span>
            <code>i</code>
            <p>Select the registration starting date and time</p>
          </span>
        </div>
        <div class="avalid input">
          <input tabindex="3" id="application-start-time" type="datetime-local" name="regStartDateTime"
            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required autocomplete="off">
        </div>
      </fieldset>

      <fieldset>
        <legend>
          Registration End Date & Time
          <span style="color: orangered;">*</span>
        </legend>
        <div class="tooltip">
          <span>
            <code>i</code>
            <p>Select the registration ending date and time</p>
          </span>
        </div>
        <div class="avalid input">
          <input tabindex="4" id="application-end-time" type="datetime-local" name="regEndDateTime"
            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required autocomplete="off">
        </div>
      </fieldset>
    </div>

    <fieldset>
      <legend>
        Eligibility
        <span style="color: orangered;">*</span>
      </legend>
      <div class="input chipped">
        <% const catg=[{label: "All" , id: "eligibility-all" }, {label: "Corporate" , id: "eligibility-corporate" },
          {label: "Engineering Students" , id: "eligibility-engineering-students" }, {label: "Undergraduate" ,
          id: "eligibility-undergraduate" }, {label: "MBA Students" , id: "eligibility-mba-students" },
          {label: "Post Graduate" , id: "eligibility-postgraduate" }]; %>
          <% catg.forEach((item, i)=> { %>
            <div class="category-chip">
              <input type="checkbox" value="<%= item.label %>" id="<%= item.id %>">
              <label for="<%= item.id %>">
                <%= item.label %>
              </label>
            </div>
            <% }); %>
      </div>
    </fieldset>
  </form>

</div>
<div class="back-forth-container">
  <button id="next-section-button" type="submit" form="registration-eligibility-form" class="button navigator">Save &
    Continue</button>
</div>

<% if (options.containsDraftData && options.draftData) { %>
  <% const dinp=options.draftData.inputs %>
    <% const dtab=options.draftData.tabs %>
      <% const dch=options.draftData.chips %>
        <% Object.keys(dtab).forEach(tab=> { %>
          <% const id=dtab[tab].inputId %>
            <% const value=dtab[tab].value %>
              <script>
                document.querySelector(`.create-job main .form-area .form-container form fieldset .tabbed.input input#<%= id %>[value="<%= value %>"]`).checked = true;
                if ("<%= value %>" === "url") {
                  const regModeFeild = document.querySelector(".create-job main .form-area .form-container form fieldset#reg-mode-action");
                  regModeFeild.querySelector("legend").innerText = "Registration URL ";
                  const rqrd = document.createElement("span");
                  rqrd.style.color = "orangered";
                  rqrd.innerText = "*";
                  regModeFeild.querySelector("legend").appendChild(rqrd);
                  regModeFeild.querySelector(".tooltip span p").innerText = "Enter the valid registration link for your application";
                  regModeFeild.querySelector(".avalid.input input").type = "url";
                } else if ("<%= value %>" === "email") {
                  const regModeFeild = document.querySelector(".create-job main .form-area .form-container form fieldset#reg-mode-action");
                  regModeFeild.querySelector("legend").innerText = "Registration Email ";
                  const rqrd = document.createElement("span");
                  rqrd.style.color = "orangered";
                  rqrd.innerText = "*";
                  regModeFeild.querySelector("legend").appendChild(rqrd);
                  regModeFeild.querySelector(".tooltip span p").innerText = "Enter the valid registration email where you want to recieve application details";
                  regModeFeild.querySelector(".avalid.input input").type = "email";
                }
              </script>
              <% }); %>
                <% Object.keys(dinp).forEach(name=> { %>
                  <% const id=dinp[name].inputId %>
                    <% const value=dinp[name].value %>
                      <script>
                        document.querySelector(`.create-job main .form-area .form-container form fieldset .avalid.input input#<%= id %>`).value = "<%= value %>";
                      </script>
                      <% }); %>
                        <% Object.keys(dch).forEach(ch=> { %>
                          <% const values=dch[ch].value; %>
                            <% values.forEach(value=> { %>
                              <script>
                                document.querySelector(`.create-job main .form-area .form-container form fieldset .chipped.input input[value="<%= value %>"]`).checked = true;
                              </script>
                              <% }); %>
                                <% }); %>
                                  <% } %>